ul, li, a{
    display: inline;
    text-decoration: none;
    margin: 8px;
    text-align: center;
    
}
#navbar{
    background-color: aqua;
    height: 50px;
    width: 100%;
    border: 2px solid darkcyan;
    border-radius: 10px;
    margin: 20px;
    
}
a:hover{
    background-color: rgb(222, 224, 78);
}
ul li a{
    text-transform: capitalize;
}